[submodule "libraries/enet"]
	path = libraries/enet
	url = https://github.com/lsalzman/enet.git
[submodule "libraries/sigslot"]
	path = libraries/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "libraries/sqlpp11"]
	path = libraries/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
